<!-- Describe task in general -->

<p>
    You are given {% if is_js %}an Object{% else %}a dictionary{% endif %}, where keys and values are strings.
    Your function should return {% if is_js %}an Object{% else %}a dictionary{% endif %}
    as well, where keys and values from input {% if is_js %}Object{% else %}dictionary{% endif %} are switched:
    input keys become output values and vice versa. Looks easy? It is so! The only thing left to mansion:
    the values in the result {% if is_js %}Object{% else %}dictionary{% endif %} should be sets
    (so the input key(s) - the element(s) of the set). Good luck!
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}An Object{% else %}A dictionary{% endif %}.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}An Object{% else %}A dictionary{% endif %}.
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
