<!-- Describe task in general -->

<p>
    You are given {% if is_js %}an Object{% else %}a dictionary{% endif %}.
    Your function should return {% if is_js %}an Object{% else %}a dictionary{% endif %}
    as well, where keys and values from input {% if is_js %}Object{% else %}dictionary{% endif %} are switched:
    input keys become output values and vice versa.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}An Object{% else %}A dictionary{% endif %}.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}An Object{% else %}A dictionary{% endif %}.
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>